@import 'vars.less';

body{
	background:url('../_imgs/layout/cabecalho.jpg') center top no-repeat;
	header{
		position:relative;
		height:180px;
		width:@largura;
		#link-home{
			width:275px;
			height:78px;
			display:block;
			position:absolute;
			left:72px;
			top:50px;
		}
		#like-wrapper{
			float:right;
			width:125px;
			margin:17px 190px 0 0;
		}
		#menu-wrapper{
			position:absolute;
			right:0;
			top:0;
			width:164px;
			height:416px;
			padding:17px 17px 130px 17px;
			background:url('../_imgs/layout/telefone.jpg') center 93% no-repeat;
			#menu-vertical{
				position:absolute;
				right:0;
				z-index:5;
				top:0;
				width:164px;
				padding:17px 17px 30px 17px;
				.arredondada(0 0 15px 15px);
				background-color:@azul_claro;
				border:1px @azul_medio solid;
				border-top:0;
				a#link-portal{
					.trebuchet(14px);
					height:35px;
					line-height:35px;
					color:@azul_maisescuro;
					display: block;
					background-color:@amarelo;
					text-align:center;
					margin-bottom:72px;
					.arredondada(8px);
					.transition;
					&:active, &:visited{ color:#; }
					&:hover{
						background-color:@marinho;
						color:@amarelo;
					}
				}
				ul{
					border-top:1px @azul_medio solid;
					li{
						height:28px;
						line-height:28px;
						border-bottom:1px @azul_medio solid;
						a{
							.trebuchet;
							background-color:@azul_claro;
							.transition;
							display: block;
							text-align:center;
							color:@azul_maisescuro;
							&:active, &:visited{color:@azul_maisescuro;}
							&.ativo, &:hover{
								background-color:@azul_maisescuro;
								color:#fff;
							}
						}
					}
				}
			}
		}
		#menu-horizontal{
			position:absolute;
			right:0;
			top:68px;
			z-index:9;
			width:594px;
			height:48px;
			font-size:0;
			#superior{
				height:24px;
				line-height:24px;
				padding-left:14px;
				background-color:@azul_escuro;
				li{
					.inline;
					a{
						padding:0 14px;
						.trebuchet(14px);
						background-color:@azul_escuro;
						.transition;
						display: block;
						text-align:center;
						color:@amarelo;
						&:active, &:visited{color:@amarelo;}
						&.ativo, &:hover{
							background-color:@azul_maisescuro;
						}
					}
				}
			}
			#inferior{
				height:24px;
				line-height:24px;
				padding-left:14px;
				margin-left:55px;
				background-color:@azul_medio;
				li{
					.inline;
					a{
						padding:0 14px;
						.trebuchet(14px);
						background-color:@azul_medio;
						.transition;
						display: block;
						text-align:center;
						color:#FFF;
						&:active, &:visited{color:#FFF;}
						&.ativo, &:hover{
							background-color:@azul_maisescuro;
							color:#fff;
						}
					}
				}
			}
		}
	}
	footer{
		height:82px;
		background:url('../_imgs/layout/bg-footer.jpg') left top repeat-x;
		text-align:center;
		font-size:0;
		ul{
			padding-top:15px;
			li{
				height:14px;
				line-height:15px;
				border-left:1px #fff solid;
				.inline;
				&:first-child{border-left:none;}
				a{
					.calibri(12px);
					padding:0 10px;
					display: block;
					color:#fff;
					.transition;
					&:active, &:visited{color:#fff;}
					&.ativo, &:hover{
						color:@amarelo;
					}
				}
			}
		}
		.assinatura{
			.calibri(10px);
			margin-top:10px;
			color:#fff;
			a{
				text-decoration:none;
				color:#FFF;
				border-bottom:1px transparent dotted;
				.transition;
				&:active, &:visited{ color:#FFF; }
				&:hover{
					border-bottom:1px #FFF dotted;
				}
			}
		}
	}
	.main{
		font-size:0;
		section{
			.inline;
			width:715px;
			#breadcrumbs{
				height:40px;
				line-height:30px;
				.trebuchet(12px);
				color:@marinho;
				a{
					.trebuchet(12px);
					text-decoration:none;
					color:@marinho;
					.transition;
					&:active, &:visited{ color:@marinho; }
					&:hover{
						color:@laranja;
					}
				}
			}
			h1{
				.caflisch(50px);
				color:@laranja;
				height:50px;
				line-height:100%;
				margin-bottom:15px;
			}
			p{
				.calibri(14px);
				color:@marinho;
			}
		}
		aside{
			.inline;
			margin-left:50px;
			margin-top:405px;
			width:215px;
			h2{
				.trebuchet(16px, bold);
				color:@marinho;
				display: block;
				height:17px;
				line-height:17px;
			}
			ul{
				margin:7px 0;
				padding-bottom:20px;
				li{
					display: block;
					margin-bottom:5px;
					a{
						display: block;
						padding:8px 16px 16px 8px;
						background:url('../_imgs/layout/destaques-seta-amarela.png') @amarelo 188px 90% no-repeat;
						.transition;
						h3{
							.trebuchet(14px, bold);
							line-height:110%;
							margin-bottom:4px;
							color:@azul_escuro;
							.transition;
						}
						p{
							.calibri(12px);
							line-height:110%;
							color:@marinho;
							.transition;
						}
						&:active, &:visited{
							h3{}
							p{}
						}
						&:hover{
							background-color:@laranja;
							h3{}
							p{}
						}
					}
				}
			}
		}
	}

}

#paginacao{
	padding:15px 0;
	text-align:center;
	height:20px;
	a, strong{
		.inline;
		.transition;
		width:20px;
		height:20px;
		margin:0 3px;
		color:#fff;
		.calibri(14px, bold);
		background-color:@laranja;
	}
	strong, a:hover{ background-color:@amarelo; }
}

/*
Trebuchet ms no menu
Caflisch escrito a mão
Calibri
*/