.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
body {
  background: url('../_imgs/layout/cabecalho.jpg') center top no-repeat;
}
body header {
  position: relative;
  height: 180px;
  width: 980px;
}
body header #link-home {
  width: 275px;
  height: 78px;
  display: block;
  position: absolute;
  left: 72px;
  top: 50px;
}
body header #like-wrapper {
  float: right;
  width: 125px;
  margin: 17px 190px 0 0;
}
body header #menu-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 164px;
  height: 416px;
  padding: 17px 17px 130px 17px;
  background: url('../_imgs/layout/telefone.jpg') center 93% no-repeat;
}
body header #menu-wrapper #menu-vertical {
  position: absolute;
  right: 0;
  z-index: 5;
  top: 0;
  width: 164px;
  padding: 17px 17px 30px 17px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  behavior: url('PIE.htc');
  background-color: #c8e9f2;
  border: 1px #3aaed6 solid;
  border-top: 0;
}
body header #menu-wrapper #menu-vertical a#link-portal {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  color: #12284d;
  display: block;
  background-color: #ffcc28;
  text-align: center;
  margin-bottom: 72px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  behavior: url('PIE.htc');
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header #menu-wrapper #menu-vertical a#link-portal:active,
body header #menu-wrapper #menu-vertical a#link-portal:visited {
  color: #;
}
body header #menu-wrapper #menu-vertical a#link-portal:hover {
  background-color: #222745;
  color: #ffcc28;
}
body header #menu-wrapper #menu-vertical ul {
  border-top: 1px #3aaed6 solid;
}
body header #menu-wrapper #menu-vertical ul li {
  height: 28px;
  line-height: 28px;
  border-bottom: 1px #3aaed6 solid;
}
body header #menu-wrapper #menu-vertical ul li a {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  background-color: #c8e9f2;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  text-align: center;
  color: #12284d;
}
body header #menu-wrapper #menu-vertical ul li a:active,
body header #menu-wrapper #menu-vertical ul li a:visited {
  color: #12284d;
}
body header #menu-wrapper #menu-vertical ul li a.ativo,
body header #menu-wrapper #menu-vertical ul li a:hover {
  background-color: #12284d;
  color: #fff;
}
body header #menu-horizontal {
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 9;
  width: 594px;
  height: 48px;
  font-size: 0;
}
body header #menu-horizontal #superior {
  height: 24px;
  line-height: 24px;
  padding-left: 14px;
  background-color: #0072ae;
}
body header #menu-horizontal #superior li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header #menu-horizontal #superior li a {
  padding: 0 14px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  text-align: center;
  color: #ffcc28;
}
body header #menu-horizontal #superior li a:active,
body header #menu-horizontal #superior li a:visited {
  color: #ffcc28;
}
body header #menu-horizontal #superior li a.ativo,
body header #menu-horizontal #superior li a:hover {
  background-color: #12284d;
}
body header #menu-horizontal #inferior {
  height: 24px;
  line-height: 24px;
  padding-left: 14px;
  margin-left: 55px;
  background-color: #3aaed6;
}
body header #menu-horizontal #inferior li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header #menu-horizontal #inferior li a {
  padding: 0 14px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #3aaed6;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  text-align: center;
  color: #FFF;
}
body header #menu-horizontal #inferior li a:active,
body header #menu-horizontal #inferior li a:visited {
  color: #FFF;
}
body header #menu-horizontal #inferior li a.ativo,
body header #menu-horizontal #inferior li a:hover {
  background-color: #12284d;
  color: #fff;
}
body footer {
  height: 82px;
  background: url('../_imgs/layout/bg-footer.jpg') left top repeat-x;
  text-align: center;
  font-size: 0;
}
body footer ul {
  padding-top: 15px;
}
body footer ul li {
  height: 14px;
  line-height: 15px;
  border-left: 1px #fff solid;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body footer ul li:first-child {
  border-left: none;
}
body footer ul li a {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 0 10px;
  display: block;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer ul li a:active,
body footer ul li a:visited {
  color: #fff;
}
body footer ul li a.ativo,
body footer ul li a:hover {
  color: #ffcc28;
}
body footer .assinatura {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-top: 10px;
  color: #fff;
}
body footer .assinatura a {
  text-decoration: none;
  color: #FFF;
  border-bottom: 1px transparent dotted;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .assinatura a:active,
body footer .assinatura a:visited {
  color: #FFF;
}
body footer .assinatura a:hover {
  border-bottom: 1px #FFF dotted;
}
body .main {
  font-size: 0;
}
body .main section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 715px;
}
body .main section #breadcrumbs {
  height: 40px;
  line-height: 30px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #222745;
}
body .main section #breadcrumbs a {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main section #breadcrumbs a:active,
body .main section #breadcrumbs a:visited {
  color: #222745;
}
body .main section #breadcrumbs a:hover {
  color: #ff6600;
}
body .main section h1 {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
  height: 50px;
  line-height: 100%;
  margin-bottom: 15px;
}
body .main section p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222745;
}
body .main aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 405px;
  width: 215px;
}
body .main aside h2 {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #222745;
  display: block;
  height: 17px;
  line-height: 17px;
}
body .main aside ul {
  margin: 7px 0;
  padding-bottom: 20px;
}
body .main aside ul li {
  display: block;
  margin-bottom: 5px;
}
body .main aside ul li a {
  display: block;
  padding: 8px 16px 16px 8px;
  background: url('../_imgs/layout/destaques-seta-amarela.png') #ffcc28 188px 90% no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main aside ul li a h3 {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 110%;
  margin-bottom: 4px;
  color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main aside ul li a p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 110%;
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main aside ul li a:hover {
  background-color: #ff6600;
}
#paginacao {
  padding: 15px 0;
  text-align: center;
  height: 20px;
}
#paginacao a,
#paginacao strong {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  color: #fff;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff6600;
}
#paginacao strong,
#paginacao a:hover {
  background-color: #ffcc28;
}
/*
Trebuchet ms no menu
Caflisch escrito a mão
Calibri
*/