@import 'vars.less';

.main-bolsas_de_estudo{
	padding-bottom:60px;
	section{
		h2{
			color:@marinho;
			padding-left:35px;
			.trebuchet(17px, bold);
			margin:5px 0;
			background:url('../_imgs/layout/cursos-setabola.png') left center no-repeat;
		}
		.link-box{
			.inline;
			margin-top:10px;
			width:208px;
			background-color:#fff;
			border:1px @azul_escuro solid;
			margin-right:10px;
			color:@marinho;
			.calibri(11px, bold);
			text-align:center;
			.transition;
			img{
				display: block;
				margin:0 auto;
			}
			.vermais{
				.transition;
				background-color:@azul_escuro;
				color:#fff;
			}
			&:hover{
				border:1px @marinho solid;
				.vermais{
					background-color:@marinho;
				}
			}
		}
		.detalhe{
			border-top:2px @azul_escuro solid;
			margin-top:52px;
			padding-top:15px;
			.transition;
			height:437px;
			display:none;
			img{ float:right; }
			h3{
				color:@laranja;
				.trebuchet(20px);
				line-height:100%;
				margin-bottom:18px;
			}
			h4{
				.caflisch(30px);
				color:@marinho;
				line-height:110%;
				margin-top:20px;
			}
			p{
				.calibri(12px);
				color:@marinho;
				margin:3px 0 8px 0;
				line-height:120%;
				&.short{ width:480px; }
				&.medium{ width:550px; }
				a{
					text-decoration:none;
					font-weight:bold;
					color:@azul_escuro;
					.transition;
					&:active, &:visited{ color:@azul_escuro; }
					&:hover{
						color:@laranja;
					}
				}
			}
		}
	}
}