@import 'vars.less';

.main-como_ingressar{
	padding-bottom:30px;
	.topo{
		padding:0 10px 0 262px;
		margin:5px 0 35px 0;
		height:173px;
		background:url('../_imgs/layout/comoIngressar-chamada.png') left bottom no-repeat;
		h2{
			.caflisch(38px);
			color:@marinho;
		}
		h3{
			color:@marinho;
			.trebuchet(16px, bold);
			line-height:120%;
			padding:20px 0;
		}
		h4{
			line-height:100%;
			color:@marinho;
			.trebuchet(16px);
		}
	}
	.link-accordion{
		display: block;
		height:38px;
		line-height:38px;
		padding-left:45px;
		margin-top:8px;
		.trebuchet(17px);
		.arredondada(38px);
		color:#fff;
		.transition;
		&.laranja{ background:url('../_imgs/layout/cursos-setabola.png') @laranja 8px center no-repeat; }
		&.aclaro{ background:url('../_imgs/layout/cursos-setabola.png') @azul_medio 8px center no-repeat; }
		&.aescuro{ background:url('../_imgs/layout/cursos-setabola.png') @azul_escuro 8px center no-repeat; }
		&.ativo, &:hover{
			color:@marinho;
		}
	}
	.texto{
		display:none;
		height:187px;
		padding-left:45px;
		.float-link{
			float:right;
			margin-right:35px;
		}
		p{
			margin-top:12px;
			.calibri(12px);
			line-height:130%;
			color:@marinho;
			width:625px;
			a{
				font-weight:bold;
				text-decoration:none;
				color:@azul_medio;
				.transition;
				&:active, &:visited{ color:@azul_medio; }
				&:hover{
					color:@laranja;
				}
			}
		}
		&.paragrafospeq{
			p{
				width:310px;
			}
		}
		.link-box{
			.inline;
			margin-top:10px;
			width:208px;
			background-color:#fff;
			border:1px @azul_escuro solid;
			margin-right:10px;
			color:@marinho;
			.calibri(11px, bold);
			.transition;
			text-align:center;
			img{
				display: block;
				margin:0 auto;
			}
			.vermais{
				.transition;
				background-color:@azul_escuro;
				color:#fff;
			}
			&:hover{
				border:1px @marinho solid;
				.vermais{
					background-color:@marinho;
				}
			}
		}
	}
}