.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.nomargin{margin:0 !important;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#ghost-load{height:1px;width:1px;position:absolute;left:-2000px;top:-2000px;}
h1.titulo-internas{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#ff6600;}
.main-como_ingressar{padding-bottom:30px;}.main-como_ingressar .topo{padding:0 10px 0 262px;margin:5px 0 35px 0;height:173px;background:url('../_imgs/layout/comoIngressar-chamada.png') left bottom no-repeat;}.main-como_ingressar .topo h2{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:38px;font-weight:normal;color:#222745;}
.main-como_ingressar .topo h3{color:#222745;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:bold;line-height:120%;padding:20px 0;}
.main-como_ingressar .topo h4{line-height:100%;color:#222745;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:normal;}
.main-como_ingressar .link-accordion{display:block;height:38px;line-height:38px;padding-left:45px;margin-top:8px;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:17px;font-weight:normal;-webkit-border-radius:38px;-moz-border-radius:38px;-o-border-radius:38px;border-radius:38px;behavior:url('PIE.htc');color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-como_ingressar .link-accordion.laranja{background:url('../_imgs/layout/cursos-setabola.png') #ff6600 8px center no-repeat;}
.main-como_ingressar .link-accordion.aclaro{background:url('../_imgs/layout/cursos-setabola.png') #3aaed6 8px center no-repeat;}
.main-como_ingressar .link-accordion.aescuro{background:url('../_imgs/layout/cursos-setabola.png') #0072ae 8px center no-repeat;}
.main-como_ingressar .link-accordion.ativo,.main-como_ingressar .link-accordion:hover{color:#222745;}
.main-como_ingressar .texto{display:none;height:187px;padding-left:45px;}.main-como_ingressar .texto .float-link{float:right;margin-right:35px;}
.main-como_ingressar .texto p{margin-top:12px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;line-height:130%;color:#222745;width:625px;}.main-como_ingressar .texto p a{font-weight:bold;text-decoration:none;color:#3aaed6;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-como_ingressar .texto p a:active,.main-como_ingressar .texto p a:visited{color:#3aaed6;}
.main-como_ingressar .texto p a:hover{color:#ff6600;}
.main-como_ingressar .texto.paragrafospeq p{width:310px;}
.main-como_ingressar .texto .link-box{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-top:10px;width:208px;background-color:#fff;border:1px #0072ae solid;margin-right:10px;color:#222745;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:11px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:center;}.main-como_ingressar .texto .link-box img{display:block;margin:0 auto;}
.main-como_ingressar .texto .link-box .vermais{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;background-color:#0072ae;color:#fff;}
.main-como_ingressar .texto .link-box:hover{border:1px #222745 solid;}.main-como_ingressar .texto .link-box:hover .vermais{background-color:#222745;}
