.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.nomargin{margin:0 !important;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#ghost-load{height:1px;width:1px;position:absolute;left:-2000px;top:-2000px;}
h1.titulo-internas{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#ff6600;}
.main section #form{float:right;padding:17px;background-color:#0072ae;width:460px;}.main section #form h2{font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#FFF;line-height:100%;margin-bottom:16px;}
.main section #form .mensagem{margin:30px 0;text-align:center;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:18px;font-weight:normal;color:#fff;}
.main section #form input[type="text"],.main section #form input[type="email"]{padding:2px 8px;height:26px;line-height:26px;color:#222745;margin:0;width:444px;border:0;margin-bottom:5px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;}
.main section #form textarea{padding:2px 8px;line-height:26px;height:185px;color:#222745;margin:0;width:444px;border:0;margin-bottom:5px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;resize:none;}
.main section #form input[type="submit"]{text-align:center;width:460px;height:30px;line-height:30px;border:0;margin:0;padding:0;color:#222745;background-color:#3AAED7;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main section #form input[type="submit"]:hover{cursor:pointer;color:#ffcc28;background-color:#222745;}
.main section p{font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;color:#222745;margin-bottom:20px;width:190px;line-height:130%;}.main section p.endereco{font-weight:bold;}
.main section p .telefone{font-size:26px;font-weight:bold;line-height:110%;}
