.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
#ghost-load .sp1 {
  background: url('../_imgs/layout/cursos-enferm-on.jpg') -1000px -1000px no-repeat;
}
#ghost-load .sp2 {
  background: url('../_imgs/layout/cursos-pedag-on.jpg') -1000px -1000px no-repeat;
}
.main section {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 715px;
}
.main section #breadcrumbs {
  height: 40px;
  line-height: 30px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #222745;
}
.main section #breadcrumbs a {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section #breadcrumbs a:active,
.main section #breadcrumbs a:visited {
  color: #222745;
}
.main section h1 {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
  height: 50px;
  line-height: 100%;
  margin-bottom: 15px;
}
.main section p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222745;
}
.main section .container {
  font-size: 0;
  padding: 15px 0;
}
.main section .container#fixed_height {
  height: 88px;
  position: relative;
  border-bottom: 2px #fff solid;
  padding-bottom: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section .container#fixed_height:hover,
.main section .container#fixed_height.ativo {
  border-bottom: 2px #222745 solid;
}
.main section .container a.link-tipos-cursos {
  padding-top: 22px;
  margin-right: 10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 170px;
  height: 58px;
  position: relative;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  vertical-align: top !important;
  background: url('../_imgs/layout/cursos-box1.png') center top no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section .container a.link-tipos-cursos:active,
.main section .container a.link-tipos-cursos:visited {
  color: #FFF;
}
.main section .container a.link-tipos-cursos:hover,
.main section .container a.link-tipos-cursos.ativo {
  color: #222745;
  height: 68px;
  background: url('../_imgs/layout/cursos-box2.png') center top no-repeat;
}
.main section .container #chamada-enfermagem {
  width: 347px;
  height: 180px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 8px;
  text-indent: -9999px;
  background: url('../_imgs/layout/cursos-enferm-off.jpg') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section .container #chamada-enfermagem:hover {
  background: url('../_imgs/layout/cursos-enferm-on.jpg') center center no-repeat;
}
.main section .container #chamada-pedagogia {
  width: 347px;
  height: 180px;
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 8px;
  text-indent: -9999px;
  background: url('../_imgs/layout/cursos-pedag-off.jpg') center center no-repeat;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section .container #chamada-pedagogia:hover {
  background: url('../_imgs/layout/cursos-pedag-on.jpg') center center no-repeat;
}
.main section .container ul {
  margin: 5px 0 5px 0;
}
.main section .container ul li {
  height: 24px;
  line-height: 24px;
  margin-bottom: 5px;
}
.main section .container ul li a {
  height: 24px;
  line-height: 24px;
  display: block;
  padding-left: 18px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #222745;
  background-color: #ffcc28;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main section .container ul li a:active,
.main section .container ul li a:visited {
  color: #222745;
}
.main section .container ul li a.ativo,
.main section .container ul li a:hover {
  color: #fff;
}
.main section .container ul li a.verde {
  background-color: #A6FF47;
}
.main section .container ul li a.verde:hover {
  background-color: #222745;
}
.main section .container ul li a.azul {
  background-color: #60BDDE;
}
.main section .container ul li a.azul:hover {
  background-color: #222745;
}
.main section .container a.link-extensao {
  display: block;
  height: 50px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 0;
}
.main section .container a.link-extensao .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 8px;
  width: 76px;
  height: 34px;
  background-color: #0072ae;
  color: #fff;
}
.main section .container a.link-extensao .data .dia-e-mes {
  line-height: 80%;
  border-bottom: 1px #fff solid;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main section .container a.link-extensao .data .dia-e-mes .mes {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 1px;
}
.main section .container a.link-extensao .data .ano {
  text-align: right;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main section .container a.link-extensao .titulo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #3aaed6;
  padding: 7px 4px 4px 16px;
  height: 39px;
  width: 603px;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.main section .container a.link-extensao:active .data,
.main section .container a.link-extensao:visited .data {
  color: #fff;
}
.main section .container a.link-extensao:active .titulo,
.main section .container a.link-extensao:visited .titulo {
  color: #222745;
}
.main section .container a.link-extensao:hover .titulo {
  background-color: #222745;
  color: #fff;
}
.main section .container a.link-livres {
  display: block;
  height: 50px;
  text-decoration: none;
}
.main section .container a.link-livres .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 8px;
  width: 76px;
  height: 34px;
  background-color: #ff6600;
  color: #fff;
}
.main section .container a.link-livres .data .dia-e-mes {
  line-height: 80%;
  border-bottom: 1px #fff solid;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main section .container a.link-livres .data .dia-e-mes .mes {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 1px;
}
.main section .container a.link-livres .data .ano {
  text-align: right;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main section .container a.link-livres .titulo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #ffcc28;
  padding: 7px 4px 4px 16px;
  height: 39px;
  width: 603px;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.main section .container a.link-livres:active .data,
.main section .container a.link-livres:visited .data {
  color: #fff;
}
.main section .container a.link-livres:active .titulo,
.main section .container a.link-livres:visited .titulo {
  color: #222745;
}
.main section .container a.link-livres:hover .titulo {
  background-color: #222745;
  color: #fff;
}
.main section h2 {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #0072ae;
  padding-left: 34px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 5px;
  display: block;
  background: url('../_imgs/layout/cursos-setabola.png') left center no-repeat;
}
.main.main-cursos-cursos_livres #topo-cursos,
.main.main-cursos-extensao_universitaria #topo-cursos,
.main.main-cursos-pos_graduacao #topo-cursos,
.main.main-cursos-graduacao #topo-cursos {
  font-size: 0;
}
.main.main-cursos-cursos_livres #topo-cursos img,
.main.main-cursos-extensao_universitaria #topo-cursos img,
.main.main-cursos-pos_graduacao #topo-cursos img,
.main.main-cursos-graduacao #topo-cursos img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 20px;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao,
.main.main-cursos-pos_graduacao #topo-cursos .descricao,
.main.main-cursos-graduacao #topo-cursos .descricao {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 307px;
  height: 140px;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url('PIE.htc');
  color: #222745;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao h4,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao h4,
.main.main-cursos-pos_graduacao #topo-cursos .descricao h4,
.main.main-cursos-graduacao #topo-cursos .descricao h4 {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 115%;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao h3,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao h3,
.main.main-cursos-pos_graduacao #topo-cursos .descricao h3,
.main.main-cursos-graduacao #topo-cursos .descricao h3 {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 115%;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao p,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao p,
.main.main-cursos-pos_graduacao #topo-cursos .descricao p,
.main.main-cursos-graduacao #topo-cursos .descricao p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 120%;
  margin: 24px 0 16px 0;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao a,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao a,
.main.main-cursos-pos_graduacao #topo-cursos .descricao a,
.main.main-cursos-graduacao #topo-cursos .descricao a {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao a:active,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao a:active,
.main.main-cursos-pos_graduacao #topo-cursos .descricao a:active,
.main.main-cursos-graduacao #topo-cursos .descricao a:active,
.main.main-cursos-cursos_livres #topo-cursos .descricao a:visited,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao a:visited,
.main.main-cursos-pos_graduacao #topo-cursos .descricao a:visited,
.main.main-cursos-graduacao #topo-cursos .descricao a:visited {
  color: #222745;
}
.main.main-cursos-cursos_livres #topo-cursos .descricao a:hover,
.main.main-cursos-extensao_universitaria #topo-cursos .descricao a:hover,
.main.main-cursos-pos_graduacao #topo-cursos .descricao a:hover,
.main.main-cursos-graduacao #topo-cursos .descricao a:hover {
  color: #fff;
}
.main.main-cursos-cursos_livres a.lista-topicos,
.main.main-cursos-extensao_universitaria a.lista-topicos,
.main.main-cursos-pos_graduacao a.lista-topicos,
.main.main-cursos-graduacao a.lista-topicos {
  display: block;
  padding-left: 30px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #FFF;
  width: 685px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main.main-cursos-cursos_livres a.lista-topicos:active,
.main.main-cursos-extensao_universitaria a.lista-topicos:active,
.main.main-cursos-pos_graduacao a.lista-topicos:active,
.main.main-cursos-graduacao a.lista-topicos:active,
.main.main-cursos-cursos_livres a.lista-topicos:visited,
.main.main-cursos-extensao_universitaria a.lista-topicos:visited,
.main.main-cursos-pos_graduacao a.lista-topicos:visited,
.main.main-cursos-graduacao a.lista-topicos:visited {
  color: #FFF;
}
.main.main-cursos-cursos_livres a.lista-topicos.azul,
.main.main-cursos-extensao_universitaria a.lista-topicos.azul,
.main.main-cursos-pos_graduacao a.lista-topicos.azul,
.main.main-cursos-graduacao a.lista-topicos.azul {
  background: url('../_imgs/layout/setadupla-azul.png') #0072ae 8px center no-repeat;
}
.main.main-cursos-cursos_livres a.lista-topicos.laranja,
.main.main-cursos-extensao_universitaria a.lista-topicos.laranja,
.main.main-cursos-pos_graduacao a.lista-topicos.laranja,
.main.main-cursos-graduacao a.lista-topicos.laranja {
  background: url('../_imgs/layout/setadupla-amarela.png') #ff6600 8px center no-repeat;
}
.main.main-cursos-cursos_livres a.lista-topicos:hover,
.main.main-cursos-extensao_universitaria a.lista-topicos:hover,
.main.main-cursos-pos_graduacao a.lista-topicos:hover,
.main.main-cursos-graduacao a.lista-topicos:hover,
.main.main-cursos-cursos_livres a.lista-topicos.marcado,
.main.main-cursos-extensao_universitaria a.lista-topicos.marcado,
.main.main-cursos-pos_graduacao a.lista-topicos.marcado,
.main.main-cursos-graduacao a.lista-topicos.marcado {
  color: #ffcc28;
}
.main.main-cursos-cursos_livres a.lista-topicos:hover.azul,
.main.main-cursos-extensao_universitaria a.lista-topicos:hover.azul,
.main.main-cursos-pos_graduacao a.lista-topicos:hover.azul,
.main.main-cursos-graduacao a.lista-topicos:hover.azul,
.main.main-cursos-cursos_livres a.lista-topicos.marcado.azul,
.main.main-cursos-extensao_universitaria a.lista-topicos.marcado.azul,
.main.main-cursos-pos_graduacao a.lista-topicos.marcado.azul,
.main.main-cursos-graduacao a.lista-topicos.marcado.azul {
  background-color: #222745;
}
.main.main-cursos-cursos_livres a.lista-topicos:hover.laranja,
.main.main-cursos-extensao_universitaria a.lista-topicos:hover.laranja,
.main.main-cursos-pos_graduacao a.lista-topicos:hover.laranja,
.main.main-cursos-graduacao a.lista-topicos:hover.laranja,
.main.main-cursos-cursos_livres a.lista-topicos.marcado.laranja,
.main.main-cursos-extensao_universitaria a.lista-topicos.marcado.laranja,
.main.main-cursos-pos_graduacao a.lista-topicos.marcado.laranja,
.main.main-cursos-graduacao a.lista-topicos.marcado.laranja {
  background-color: #222745;
}
.main.main-cursos-cursos_livres .detalhes-topicos,
.main.main-cursos-extensao_universitaria .detalhes-topicos,
.main.main-cursos-pos_graduacao .detalhes-topicos,
.main.main-cursos-graduacao .detalhes-topicos {
  display: none;
  padding-bottom: 30px;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main.main-cursos-cursos_livres .detalhes-topicos p,
.main.main-cursos-extensao_universitaria .detalhes-topicos p,
.main.main-cursos-pos_graduacao .detalhes-topicos p,
.main.main-cursos-graduacao .detalhes-topicos p {
  margin: 3px 0;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0;
}
.main.main-cursos-cursos_livres .detalhes-topicos p a,
.main.main-cursos-extensao_universitaria .detalhes-topicos p a,
.main.main-cursos-pos_graduacao .detalhes-topicos p a,
.main.main-cursos-graduacao .detalhes-topicos p a {
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main.main-cursos-cursos_livres .detalhes-topicos p a:active,
.main.main-cursos-extensao_universitaria .detalhes-topicos p a:active,
.main.main-cursos-pos_graduacao .detalhes-topicos p a:active,
.main.main-cursos-graduacao .detalhes-topicos p a:active,
.main.main-cursos-cursos_livres .detalhes-topicos p a:visited,
.main.main-cursos-extensao_universitaria .detalhes-topicos p a:visited,
.main.main-cursos-pos_graduacao .detalhes-topicos p a:visited,
.main.main-cursos-graduacao .detalhes-topicos p a:visited {
  color: #222745;
}
.main.main-cursos-cursos_livres .detalhes-topicos p a:hover,
.main.main-cursos-extensao_universitaria .detalhes-topicos p a:hover,
.main.main-cursos-pos_graduacao .detalhes-topicos p a:hover,
.main.main-cursos-graduacao .detalhes-topicos p a:hover {
  color: #ff6600;
}
.main.main-cursos-cursos_livres .detalhes-topicos ul,
.main.main-cursos-extensao_universitaria .detalhes-topicos ul,
.main.main-cursos-pos_graduacao .detalhes-topicos ul,
.main.main-cursos-graduacao .detalhes-topicos ul {
  list-style: inside;
  margin: 3px 0;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main.main-cursos-cursos_livres .detalhes-topicos table,
.main.main-cursos-extensao_universitaria .detalhes-topicos table,
.main.main-cursos-pos_graduacao .detalhes-topicos table,
.main.main-cursos-graduacao .detalhes-topicos table {
  border: 1px #222745 solid;
  border-collapse: collapse;
  width: 100%;
}
.main.main-cursos-cursos_livres .detalhes-topicos table tr td,
.main.main-cursos-extensao_universitaria .detalhes-topicos table tr td,
.main.main-cursos-pos_graduacao .detalhes-topicos table tr td,
.main.main-cursos-graduacao .detalhes-topicos table tr td {
  border: 1px #222745 solid;
  padding: 2px;
}
.main.main-cursos-cursos_livres .espacamento,
.main.main-cursos-extensao_universitaria .espacamento,
.main.main-cursos-pos_graduacao .espacamento,
.main.main-cursos-graduacao .espacamento {
  height: 30px;
  display: block;
}
.main.main-cursos-cursos_livres .titulo-outros,
.main.main-cursos-extensao_universitaria .titulo-outros,
.main.main-cursos-pos_graduacao .titulo-outros,
.main.main-cursos-graduacao .titulo-outros {
  height: 35px;
  line-height: 50px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #222745;
  border-top: 2px #222745 solid;
}
.main.main-cursos-cursos_livres .texto,
.main.main-cursos-extensao_universitaria .texto,
.main.main-cursos-pos_graduacao .texto,
.main.main-cursos-graduacao .texto {
  padding: 15px 0 50px 0;
}
.main.main-cursos-cursos_livres .texto img,
.main.main-cursos-extensao_universitaria .texto img,
.main.main-cursos-pos_graduacao .texto img,
.main.main-cursos-graduacao .texto img {
  float: left;
  margin: 0 15px 15px 0;
}
.main.main-cursos-cursos_livres .topo-cursos,
.main.main-cursos-extensao_universitaria .topo-cursos,
.main.main-cursos-pos_graduacao .topo-cursos,
.main.main-cursos-graduacao .topo-cursos {
  height: 48px;
  line-height: 48px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url('PIE.htc');
}
.main.main-cursos-cursos_livres .topo-cursos .data,
.main.main-cursos-extensao_universitaria .topo-cursos .data,
.main.main-cursos-pos_graduacao .topo-cursos .data,
.main.main-cursos-graduacao .topo-cursos .data {
  height: 48px;
  line-height: 48px;
  margin-right: 22px;
  text-align: center;
  width: 120px;
  float: left;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url('PIE.htc');
}
.main.main-cursos-cursos_livres .topo-cursos .data .dia-e-mes,
.main.main-cursos-extensao_universitaria .topo-cursos .data .dia-e-mes,
.main.main-cursos-pos_graduacao .topo-cursos .data .dia-e-mes,
.main.main-cursos-graduacao .topo-cursos .data .dia-e-mes {
  margin: 0 auto;
  padding-top: 8px;
  width: 80px;
  line-height: 80%;
  border-bottom: 1px #fff solid;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main.main-cursos-cursos_livres .topo-cursos .data .dia-e-mes .mes,
.main.main-cursos-extensao_universitaria .topo-cursos .data .dia-e-mes .mes,
.main.main-cursos-pos_graduacao .topo-cursos .data .dia-e-mes .mes,
.main.main-cursos-graduacao .topo-cursos .data .dia-e-mes .mes {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 1px;
}
.main.main-cursos-cursos_livres .topo-cursos .data .ano,
.main.main-cursos-extensao_universitaria .topo-cursos .data .ano,
.main.main-cursos-pos_graduacao .topo-cursos .data .ano,
.main.main-cursos-graduacao .topo-cursos .data .ano {
  margin: 0 auto;
  width: 80px;
  line-height: 100%;
  padding-top: 3px;
  text-align: right;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main.main-cursos-cursos_livres .topo-cursos.extens,
.main.main-cursos-extensao_universitaria .topo-cursos.extens,
.main.main-cursos-pos_graduacao .topo-cursos.extens,
.main.main-cursos-graduacao .topo-cursos.extens {
  background-image: none;
  background-color: #3aaed6;
  color: #222745;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  behavior: url('PIE.htc');
}
.main.main-cursos-cursos_livres .topo-cursos.extens .data,
.main.main-cursos-extensao_universitaria .topo-cursos.extens .data,
.main.main-cursos-pos_graduacao .topo-cursos.extens .data,
.main.main-cursos-graduacao .topo-cursos.extens .data {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  behavior: url('PIE.htc');
  background-color: #0072ae;
}
.main.main-cursos-cursos_livres .topo-cursos.livres,
.main.main-cursos-extensao_universitaria .topo-cursos.livres,
.main.main-cursos-pos_graduacao .topo-cursos.livres,
.main.main-cursos-graduacao .topo-cursos.livres {
  background-image: none;
  background-color: #ffcc28;
  color: #222745;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  behavior: url('PIE.htc');
}
.main.main-cursos-cursos_livres .topo-cursos.livres .data,
.main.main-cursos-extensao_universitaria .topo-cursos.livres .data,
.main.main-cursos-pos_graduacao .topo-cursos.livres .data,
.main.main-cursos-graduacao .topo-cursos.livres .data {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  behavior: url('PIE.htc');
  background-color: #ff6600;
}
