@import 'vars.less';

#ghost-load{
	.sp1{background:url('../_imgs/layout/cursos-enferm-on.jpg') -1000px -1000px no-repeat; }
	.sp2{background:url('../_imgs/layout/cursos-pedag-on.jpg') -1000px -1000px no-repeat; }
}

.main{
	section{
		.inline;
		width:715px;
		#breadcrumbs{
			height:40px;
			line-height:30px;
			.trebuchet(12px);
			color:@marinho;
			a{
				.trebuchet(12px);
				text-decoration:none;
				color:@marinho;
				.transition;
				&:active, &:visited{ color:@marinho; }
				&:hover{

				}
			}
		}
		h1{
			.caflisch(50px);
			color:@laranja;
			height:50px;
			line-height:100%;
			margin-bottom:15px;
		}
		p{
			.calibri(14px);
			color:@marinho;
		}
		.container{
			font-size:0;
			padding:15px 0;
			&#fixed_height{
				height:88px;
				position:relative;
				border-bottom:2px #fff solid;
				padding-bottom:0;
				.transition;
				&:hover, &.ativo{
					border-bottom:2px @marinho solid;
				}
			}
			a.link-tipos-cursos{
				padding-top:22px;
				margin-right:10px;
				.inline;
				width:170px;
				height:58px;
				position:relative;
				.calibri(14px, bold);
				text-align:center;
				text-decoration:none;
				color:#FFF;
				vertical-align:top !important;
				background:url('../_imgs/layout/cursos-box1.png') center top no-repeat;
				.transition;
				&:active, &:visited{ color:#FFF; }
				&:hover, &.ativo{
					color:@marinho;
					height:68px;
					background:url('../_imgs/layout/cursos-box2.png') center top no-repeat;
				}
			}
			#chamada-enfermagem{
				width:347px;
				height:180px;
				.inline;
				margin-bottom:8px;
				text-indent:-9999px;
				background:url('../_imgs/layout/cursos-enferm-off.jpg') center center no-repeat;
				.transition;
				&:hover{
					background:url('../_imgs/layout/cursos-enferm-on.jpg') center center no-repeat;
				}
			}
			#chamada-pedagogia{
				width:347px;
				height:180px;
				margin-right:20px;
				.inline;
				margin-bottom:8px;
				text-indent:-9999px;
				background:url('../_imgs/layout/cursos-pedag-off.jpg') center center no-repeat;
				.transition;
				&:hover{
					background:url('../_imgs/layout/cursos-pedag-on.jpg') center center no-repeat;
				}
			}
			ul{
				margin:5px 0 5px 0;
				li{
					height:24px;
					line-height:24px;
					margin-bottom:5px;
					a{
						height:24px;
						line-height:24px;
						display: block;
						padding-left:18px;
						.calibri(14px, bold);
						color:@marinho;
						background-color:@amarelo;
						&:active, &:visited{color:@marinho;}
						.transition;
						&.ativo, &:hover{
							color:#fff;
						}
						&.verde{
							background-color:#A6FF47;
							&:hover{background-color:@marinho;}
						}
						&.azul{
							background-color:#60BDDE;
							&:hover{background-color:@marinho;}
						}
					}
				}
			}
			a.link-extensao{
				display:block;
				height:50px;
				margin-bottom:10px;
				text-decoration:none;
				font-size:0;
				.data{
					.inline;
					.transition;
					padding:8px;
					width:76px;
					height:34px;
					background-color:@azul_escuro;
					color:#fff;
					.dia-e-mes{
						line-height:80%;
						border-bottom:1px #fff solid;
						.calibri(20px, bold);
						.mes{
							.caflisch(16px, normal);
							vertical-align:1px;
						}
					}
					.ano{
						text-align:right;
						.calibri(12px, bold);
					}
				}
				.titulo{
					.inline;
					.transition;
					background-color:@azul_medio;
					padding:7px 4px 4px 16px;
					height:39px;
					width:603px;
					color:@marinho;
					.calibri(14px, bold);
				}
				&:active, &:visited{
					.data{ color:#fff; }
					.titulo{ color:@marinho; }
				}
				&:hover{
					.data{

						.dia-e-mes{
							.mes{

							}
						}
						.ano{}
					}
					.titulo{
						background-color:@marinho;
						color:#fff;
					}
				}
			}
			a.link-livres{
				display:block;
				height:50px;
				text-decoration:none;
				.data{
					.inline;
					.transition;
					padding:8px;
					width:76px;
					height:34px;
					background-color:@laranja;
					color:#fff;
					.dia-e-mes{
						line-height:80%;
						border-bottom:1px #fff solid;
						.calibri(20px, bold);
						.mes{
							.caflisch(16px, normal);
							vertical-align:1px;
						}
					}
					.ano{
						text-align:right;
						.calibri(12px, bold);
					}
				}
				.titulo{
					.inline;
					.transition;
					background-color:@amarelo;
					padding:7px 4px 4px 16px;
					height:39px;
					width:603px;
					color:@marinho;
					.calibri(14px, bold);
				}
				&:active, &:visited{
					.data{ color:#fff; }
					.titulo{ color:@marinho; }
				}
				&:hover{
					.data{

						.dia-e-mes{
							.mes{

							}
						}
						.ano{}
					}
					.titulo{
						background-color:@marinho;
						color:#fff;
					}
				}
			}
		}
		h2{
			.trebuchet(20px);
			color:@azul_escuro;
			padding-left:34px;
			height:24px;
			line-height:24px;
			margin-bottom:5px;
			display: block;
			background:url('../_imgs/layout/cursos-setabola.png') left center no-repeat;
		}
	}
	&.main-cursos-cursos_livres,
	&.main-cursos-extensao_universitaria,
	&.main-cursos-pos_graduacao,
	&.main-cursos-graduacao{
		#topo-cursos{
			font-size:0;
			img{
				.inline;
				margin-right:20px;
			}
			.descricao{
				.inline;
				width:307px;
				height:140px;
				padding:20px;
				.arredondada(20px);
				color:@marinho;
				h4{ .calibri(14px); line-height:115%; }
				h3{ .calibri(18px, bold); line-height:115%; }
				p{ .calibri(14px); line-height:120%; margin:24px 0 16px 0; }
				a{
					.calibri(12px);
					text-decoration:none;
					color:@marinho;
					.transition;
					&:active, &:visited{ color:@marinho; }
					&:hover{
						color:#fff;
					}
				}
			}
		}
		a.lista-topicos{
			display: block;
			padding-left:30px;
			height:22px;
			line-height:22px;
			margin-bottom:5px;
			text-decoration:none;
			color:#FFF;
			width:685px;
			.transition;
			.calibri(14px);
			&:active, &:visited{ color:#FFF; }
			&.azul{
				background:url('../_imgs/layout/setadupla-azul.png') @azul_escuro 8px center no-repeat;
			}
			&.laranja{
				background:url('../_imgs/layout/setadupla-amarela.png') @laranja 8px center no-repeat;
			}
			&:hover, &.marcado{
				color:@amarelo;
				&.azul{background-color:@marinho;}
				&.laranja{background-color:@marinho;}
			}
		}
		.detalhes-topicos{
			display:none;
			padding-bottom:30px;
			color:@marinho;
			.calibri(14px);
		}
		.detalhes-topicos p{
			margin:3px 0;
			color:@marinho;
			.calibri(14px);
			margin:10px 0;
			a{
				color:#222745;
				.transition;
				&:active, &:visited{color:#222745;}
				&:hover{color:@laranja;}
			}
		}
		.detalhes-topicos ul{
			list-style:inside;
			margin:3px 0;
			color:@marinho;
			.calibri(14px);
		}
		.detalhes-topicos table{
			border:1px #222745 solid;
			border-collapse: collapse;
			width:100%;
			tr{
				td{
					border:1px #222745 solid;
					padding:2px;
				}
			}
		}
		.espacamento{
			height:30px;
			display:block;
		}
		.titulo-outros{
			height:35px;
			line-height:50px;
			.calibri(16px);
			color:@marinho;
			border-top:2px @marinho solid;
		}
		.texto{
			padding:15px 0 50px 0;
			img{
				float:left;
				margin:0 15px 15px 0;
			}
		}
		.topo-cursos{
			height:48px;
			line-height:48px;
			padding:0;
			.trebuchet(20px);
			.arredondada(20px);
			.data{
				height:48px;
				line-height:48px;
				margin-right:22px;
				text-align:center;
				width:120px;
				float:left;
				color:#fff;
				.arredondada(20px);
				.dia-e-mes{
					margin:0 auto;
					padding-top:8px;
					width:80px;
					line-height:80%;
					border-bottom:1px #fff solid;
					.calibri(20px, bold);
					.mes{
						.caflisch(16px, normal);
						vertical-align:1px;
					}
				}
				.ano{
					margin:0 auto;
					width:80px;
					line-height:100%;
					padding-top:3px;
					text-align:right;
					.calibri(12px, bold);
				}
			}
			&.extens{
				background-image:none;
				background-color:@azul_medio;
				color:@marinho;
				.arredondada(0);
				.data{
					.arredondada(0);
					background-color:@azul_escuro;
				}
			}
			&.livres{
				background-image:none;
				background-color:@amarelo;
				color:@marinho;
				.arredondada(0);
				.data{
					.arredondada(0);
					background-color:@laranja;
				}
			}
		}
	}
}