@import 'vars.less';

.detalhe-estagio{
	border-top:2px @azul_medio solid;
	margin-top:30px;
	padding:20px 0 10px 0;
	.imagem{
		float:left;
		width:170px;
		img{
			display:block;
			margin:3px auto;
		}
	}
	p{
		padding-left:170px;
		margin-bottom:10px;
	}
}