@import 'vars.less';

.main-eventos-index{
	h2.titulo-laranja{
		height:20px;
		line-height:20px;
		background-color:@laranja;
		padding-left:8px;
		color:#FFF;
		.calibri(12px, bold);
	}
	.proximos{
		padding:10px 0 38px 0;
		font-size:0;
		.link-destaques{
			.inline;
			width:345px;
			margin-bottom:20px;
			border-bottom:3px #0472A5 solid;
			.data{
				height:30px;
				line-height:30px;
				color:#fff;
				text-align:center;
				background-color:@marinho;
				.calibri(14px, bold);
			}
			.imagem{
				.transition;
				background-color:@azul_escuro;
				width:345px;
				height:150px;
				img{
					display: block;
					margin:0 auto;
				}
			}
			.titulo{
				.transition;
				padding:12px 30px;
				background-color:@azul_medio;
				color:@marinho;
				.trebuchet(16px, bold);
				line-height:115%;
			}
			&.commargem{
				margin-right:25px;
			}
			&:hover{
				.imagem{ background-color:@marinho; }
				.titulo{ background-color:@marinho; color:#0472A5; }
			}
		}
	}
	.historico{
		padding:10px 0 38px 0;
		font-size:0;
		.link-eventos{
				display:block;
				height:50px;
				margin-bottom:5px;
				text-decoration:none;
				font-size:0;
				.data{
					.inline;
					.transition;
					padding:8px;
					width:76px;
					height:34px;
					background-color:@azul_escuro;
					color:#fff;
					.dia-e-mes{
						line-height:80%;
						border-bottom:1px #fff solid;
						.calibri(20px, bold);
						.mes{
							.caflisch(16px, normal);
							vertical-align:1px;
						}
					}
					.ano{
						text-align:right;
						.calibri(12px, bold);
					}
				}
				.titulo{
					.inline;
					.transition;
					background-color:@azul_medio;
					padding:7px 4px 4px 16px;
					height:39px;
					width:603px;
					color:@marinho;
					.calibri(14px, bold);
				}
				&:active, &:visited{
					.data{ color:#fff; }
					.titulo{ color:@marinho; }
				}
				&:hover{
					.data{

						.dia-e-mes{
							.mes{

							}
						}
						.ano{}
					}
					.titulo{
						background-color:@marinho;
						color:#fff;
					}
				}
			}
	}
}

.main-eventos-detalhes{
	padding-bottom:30px;
	.link-voltar{
		width:584px;
		display: block;
		border-bottom:2px @laranja solid;
		float:right;
		text-align:right;
		margin-top:14px;
		color:@laranja;
		.calibri(12px, bold);
		.transition;
		a:active, a:visited{color:@laranja;}
		&:hover{
			color:@marinho;
		}
	}
	.link-voltar-inferior{
		height:16px;
		line-height:16px;
		margin:20px 0;
		padding-left:7px;
		display: block;
		background-color:@laranja;
		color:#fff;
		.transition;
		.calibri(12px, bold);
		&:hover{
			color:@marinho;
		}
	}
	.topo{
		font-size:0;
		.data{
			.inline;
			padding-top:2px;
			width:100px;
			height:98px;
			color:#fff;
			background-color:@marinho;
			text-align:center;
			span{display: block;}
			.dia{.calibri(30px, bold);line-height:130%;}
			.mes{.calibri(14px, bold);line-height:130%;}
			.ano{.calibri(24px, bold);line-height:130%;}
		}
		.titulos{
			.inline;
			width:615px;
			padding-bottom:20px;
			.detalhe_data{
				.calibri(14px, bold);
				background-color:@azul_escuro;
				color:#fff;
				padding-left:18px;
				height:30px;
				line-height:30px;
			}
			h2{
				display:block;
				min-height:30px;
				.trebuchet(24px, bold);
				background-color:@azul_medio;
				padding:20px;
				line-height:125%;
				color:@marinho;
			}
			.imagem{
				border:1px @azul_medio solid;
				width:613px;
				background-color:@azul_medio;
				img{
					max-width:613px;
					display:block;
					margin:0 auto;
				}
			}
		}
	}
	.olho{
		padding:12px 30px;
		background-color:@azul_claro;
		text-align:center;
		color:@marinho;
		.caflisch(22px);
		line-height:120%;
	}
	.texto{
		.calibri(14px);
		color:@marinho;
		line-height:24px;
		padding:20px 0;
		p, ul{
			line-height:24px;
			margin:10px 0;
		}
	}
	.galeria{
		padding:15px 0;
		h3{
			.caflisch(24px);
			color:@azul_medio;
			margin-bottom:4px;
		}
		a{
			margin-right:10px;
			margin-bottom:10px;
			text-decoration:none;
			border:1px @azul_medio solid;
			.inline;
			.transition;
			&:hover{
				border:1px @marinho solid;
			}
		}
	}
}