.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
.main-eventos-index h2.titulo-laranja {
  height: 20px;
  line-height: 20px;
  background-color: #ff6600;
  padding-left: 8px;
  color: #FFF;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main-eventos-index .proximos {
  padding: 10px 0 38px 0;
  font-size: 0;
}
.main-eventos-index .proximos .link-destaques {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 345px;
  margin-bottom: 20px;
  border-bottom: 3px #0472A5 solid;
}
.main-eventos-index .proximos .link-destaques .data {
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.main-eventos-index .proximos .link-destaques .imagem {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #0072ae;
  width: 345px;
  height: 150px;
}
.main-eventos-index .proximos .link-destaques .imagem img {
  display: block;
  margin: 0 auto;
}
.main-eventos-index .proximos .link-destaques .titulo {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 12px 30px;
  background-color: #3aaed6;
  color: #222745;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 115%;
}
.main-eventos-index .proximos .link-destaques.commargem {
  margin-right: 25px;
}
.main-eventos-index .proximos .link-destaques:hover .imagem {
  background-color: #222745;
}
.main-eventos-index .proximos .link-destaques:hover .titulo {
  background-color: #222745;
  color: #0472A5;
}
.main-eventos-index .historico {
  padding: 10px 0 38px 0;
  font-size: 0;
}
.main-eventos-index .historico .link-eventos {
  display: block;
  height: 50px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 0;
}
.main-eventos-index .historico .link-eventos .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 8px;
  width: 76px;
  height: 34px;
  background-color: #0072ae;
  color: #fff;
}
.main-eventos-index .historico .link-eventos .data .dia-e-mes {
  line-height: 80%;
  border-bottom: 1px #fff solid;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.main-eventos-index .historico .link-eventos .data .dia-e-mes .mes {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: 1px;
}
.main-eventos-index .historico .link-eventos .data .ano {
  text-align: right;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main-eventos-index .historico .link-eventos .titulo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #3aaed6;
  padding: 7px 4px 4px 16px;
  height: 39px;
  width: 603px;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.main-eventos-index .historico .link-eventos:active .data,
.main-eventos-index .historico .link-eventos:visited .data {
  color: #fff;
}
.main-eventos-index .historico .link-eventos:active .titulo,
.main-eventos-index .historico .link-eventos:visited .titulo {
  color: #222745;
}
.main-eventos-index .historico .link-eventos:hover .titulo {
  background-color: #222745;
  color: #fff;
}
.main-eventos-detalhes {
  padding-bottom: 30px;
}
.main-eventos-detalhes .link-voltar {
  width: 584px;
  display: block;
  border-bottom: 2px #ff6600 solid;
  float: right;
  text-align: right;
  margin-top: 14px;
  color: #ff6600;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-eventos-detalhes .link-voltar a:active,
.main-eventos-detalhes .link-voltar a:visited {
  color: #ff6600;
}
.main-eventos-detalhes .link-voltar:hover {
  color: #222745;
}
.main-eventos-detalhes .link-voltar-inferior {
  height: 16px;
  line-height: 16px;
  margin: 20px 0;
  padding-left: 7px;
  display: block;
  background-color: #ff6600;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.main-eventos-detalhes .link-voltar-inferior:hover {
  color: #222745;
}
.main-eventos-detalhes .topo {
  font-size: 0;
}
.main-eventos-detalhes .topo .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding-top: 2px;
  width: 100px;
  height: 98px;
  color: #fff;
  background-color: #222745;
  text-align: center;
}
.main-eventos-detalhes .topo .data span {
  display: block;
}
.main-eventos-detalhes .topo .data .dia {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 130%;
}
.main-eventos-detalhes .topo .data .mes {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 130%;
}
.main-eventos-detalhes .topo .data .ano {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
}
.main-eventos-detalhes .topo .titulos {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 615px;
  padding-bottom: 20px;
}
.main-eventos-detalhes .topo .titulos .detalhe_data {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #0072ae;
  color: #fff;
  padding-left: 18px;
  height: 30px;
  line-height: 30px;
}
.main-eventos-detalhes .topo .titulos h2 {
  display: block;
  min-height: 30px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #3aaed6;
  padding: 20px;
  line-height: 125%;
  color: #222745;
}
.main-eventos-detalhes .topo .titulos .imagem {
  border: 1px #3aaed6 solid;
  width: 613px;
  background-color: #3aaed6;
}
.main-eventos-detalhes .topo .titulos .imagem img {
  max-width: 613px;
  display: block;
  margin: 0 auto;
}
.main-eventos-detalhes .olho {
  padding: 12px 30px;
  background-color: #c8e9f2;
  text-align: center;
  color: #222745;
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 120%;
}
.main-eventos-detalhes .texto {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222745;
  line-height: 24px;
  padding: 20px 0;
}
.main-eventos-detalhes .texto p,
.main-eventos-detalhes .texto ul {
  line-height: 24px;
  margin: 10px 0;
}
.main-eventos-detalhes .galeria {
  padding: 15px 0;
}
.main-eventos-detalhes .galeria h3 {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #3aaed6;
  margin-bottom: 4px;
}
.main-eventos-detalhes .galeria a {
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px #3aaed6 solid;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-eventos-detalhes .galeria a:hover {
  border: 1px #222745 solid;
}
