.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
.main {
  padding-bottom: 40px;
}
.main .topo {
  font-size: 0;
  margin-bottom: 40px;
}
.main .topo .coluna {
  width: 350px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.main .topo .coluna.margem {
  margin-right: 15px;
}
.main .topo .coluna p {
  line-height: 130%;
  margin-bottom: 10px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222745;
}
.main .topo .coluna p a {
  font-weight: bold;
  text-decoration: none;
  color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .topo .coluna p a:active,
.main .topo .coluna p a:visited {
  color: #0072ae;
}
.main .topo .coluna p a:hover {
  color: #ff6600;
}
.main .topo .coluna .link-download {
  overflow: hidden;
  height: 80px;
  margin-top: 10px;
  padding: 8px 0 8px 8px;
  display: block;
  background-color: #32B1DE;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .topo .coluna .link-download .texto-branco {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 12px;
  color: #fff;
}
.main .topo .coluna .link-download .texto-marinho {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  line-height: 130%;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #222745;
}
.main .topo .coluna .link-download .texto-marinho .faixa {
  padding-left: 4px;
  height: 16px;
  line-height: 16px;
  margin-top: 4px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 10px;
  font-weight: bold;
  width: 174px;
  color: #fff;
  display: block;
  background-color: #0072ae;
}
.main .topo .coluna .link-download:hover {
  background-color: #ff6600;
}
.main .topo .coluna .link-autoavaliacao {
  margin-top: 10px;
  padding: 10px 15px;
  display: block;
  background: url('../_imgs/layout/pdf-download.png') #0072ae 97% center no-repeat;
  height: 35px;
  color: #fff;
  line-height: 100%;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .topo .coluna .link-autoavaliacao:active,
.main .topo .coluna .link-autoavaliacao:visited {
  color: #fff;
}
.main .topo .coluna .link-autoavaliacao:hover {
  background-color: #32B1DE;
}
.main .topo .coluna .link-autoavaliacao span {
  display: block;
  font-size: 16px;
  line-height: 190%;
}
.main .infra {
  background-color: #222745;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  behavior: url('PIE.htc');
  padding: 25px 18px 50px 18px;
}
.main .infra h2 {
  color: #fdf315;
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: normal;
}
.main .infra .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 330px;
  padding-top: 15px;
}
.main .infra .coluna p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 15px;
  line-height: 130%;
}
.main .infra .coluna.margem {
  margin-right: 18px;
}
.main .infra .coluna a.fancy {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 6px;
  margin-right: 6px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px #3aaed6 solid;
}
.main .infra .coluna a.fancy.sem-margem {
  margin-right: 0;
}
.main .infra .coluna a.fancy:hover {
  border: 1px #fff solid;
}
.main .infra .coluna .texto-amarelo {
  color: #fdf315;
  text-align: center;
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.main .infra .coluna .texto-amarelo .caf {
  line-height: 130%;
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
