@import 'vars.less';

.main{
	padding-bottom:40px;
	.topo{
		font-size:0;
		margin-bottom:40px;
		.coluna{
			width:350px;
			.inline;
			&.margem{margin-right:15px;}
			p{
				line-height:130%;
				margin-bottom:10px;
				.calibri(14px);
				color:@marinho;
				a{
					font-weight:bold;
					text-decoration:none;
					color:@azul_escuro;
					.transition;
					&:active, &:visited{ color:@azul_escuro; }
					&:hover{
						color:@laranja;
					}
				}
			}
			.link-download{
				overflow:hidden;
				height:80px;
				margin-top:10px;
				padding:8px 0 8px 8px;
				display: block;
				background-color:#32B1DE;
				.transition;
				.texto-branco{
					.inline;
					margin:0 12px;
					color:#fff;
				}
				.texto-marinho{
					.inline;
					line-height:130%;
					.calibri(12px, bold);
					color:@marinho;
					.faixa{
						padding-left:4px;
						height:16px;
						line-height:16px;
						margin-top:4px;
						.calibri(10px, bold);
						width:174px;
						color:#fff;
						display: block;
						background-color:@azul_escuro;
					}
				}
				&:hover{
					background-color:@laranja;
				}
			}
			.link-autoavaliacao{
				margin-top:10px;
				padding:10px 15px;
				display:block;
				background:url('../_imgs/layout/pdf-download.png') @azul_escuro 97% center no-repeat;
				height:35px;
				color:#fff;
				line-height:100%;
				.trebuchet(11px);
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{background-color:#32B1DE;}
				span{
					display:block;
					font-size:16px;
					line-height:190%;
				}
			}
		}
	}
	.infra{
		background-color:@marinho;
		.arredondada(15px);
		padding:25px 18px 50px 18px;
		h2{
			color:@amarelo_claro;
			.caflisch(30px);
		}
		.coluna{
			.inline;
			width:330px;
			padding-top:15px;
			p{
				.calibri(14px);
				color:#fff;
				margin-bottom:15px;
				line-height:130%;
			}
			&.margem{ margin-right:18px;}
			a.fancy{
				.inline;
				margin-bottom:6px;
				margin-right:6px;
				.transition;
				border:1px @azul_medio solid;
				&.sem-margem{margin-right:0;}
				&:hover{
					border:1px #fff solid;
				}
			}
			.texto-amarelo{
				color:@amarelo_claro;
				text-align:center;
				margin-top:20px;
				.trebuchet(16px, bold);
				.caf{
					line-height:130%;
					.caflisch(20px);
				}
			}
		}
	}
}