.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
.main-financiamentos {
  padding-bottom: 60px;
}
.main-financiamentos section h2 {
  color: #222745;
  padding-left: 35px;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin: 5px 0;
  background: url('../_imgs/layout/cursos-setabola.png') left center no-repeat;
}
.main-financiamentos section .link-box {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-top: 10px;
  width: 208px;
  background-color: #fff;
  border: 1px #0072ae solid;
  margin-right: 10px;
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-financiamentos section .link-box img {
  display: block;
  margin: 0 auto;
}
.main-financiamentos section .link-box .vermais {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #0072ae;
  color: #fff;
}
.main-financiamentos section .link-box:hover {
  border: 1px #222745 solid;
}
.main-financiamentos section .link-box:hover .vermais {
  background-color: #222745;
}
.main-financiamentos section .detalhe {
  border-top: 2px #0072ae solid;
  margin-top: 52px;
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  min-height: 437px;
  display: none;
}
.main-financiamentos section .detalhe img {
  float: right;
}
.main-financiamentos section .detalhe h3 {
  color: #ff6600;
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-bottom: 18px;
}
.main-financiamentos section .detalhe h4 {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #222745;
  line-height: 110%;
  margin-top: 20px;
}
.main-financiamentos section .detalhe p {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #222745;
  margin: 3px 0 8px 0;
  line-height: 120%;
}
.main-financiamentos section .detalhe p.short {
  width: 480px;
}
.main-financiamentos section .detalhe p.medium {
  width: 550px;
}
.main-financiamentos section .detalhe p a {
  text-decoration: none;
  font-weight: bold;
  color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-financiamentos section .detalhe p a:active,
.main-financiamentos section .detalhe p a:visited {
  color: #0072ae;
}
.main-financiamentos section .detalhe p a:hover {
  color: #ff6600;
}
.main-financiamentos section .detalhe ul {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #222745;
  margin: 3px 0 8px 0;
  line-height: 120%;
  list-style: none;
}
.main-financiamentos section .detalhe ul li {
  margin: 2px 0;
}
.main-financiamentos section .detalhe ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-financiamentos section .detalhe ul li a:active,
.main-financiamentos section .detalhe ul li a:visited {
  color: #0072ae;
}
.main-financiamentos section .detalhe ul li a:hover {
  color: #ff6600;
}
