.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.nomargin{margin:0 !important;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#ghost-load{height:1px;width:1px;position:absolute;left:-2000px;top:-2000px;}
h1.titulo-internas{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#ff6600;}
#ghost-load .sp1{background:url('../_imgs/layout/bhome-curso-enf-on.jpg') -1000px -1000px no-repeat;}
#ghost-load .sp2{background:url('../_imgs/layout/bhome-curso-ped-on.jpg') -1000px -1000px no-repeat;}
.main #slideshow{height:420px;}.main #slideshow #animate{width:765px;height:400px;overflow:hidden;}
.main #slideshow #bullets{height:20px;line-height:20px;text-align:right;font-size:0;width:765px;}.main #slideshow #bullets a{width:12px;height:12px;display:inline-block;*display:inline;zoom:1;vertical-align:top;border-radius:12px;background-color:#A9ABAE;text-decoration:none;margin:0 2px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #slideshow #bullets a:hover,.main #slideshow #bullets a.activeSlide{background-color:#ffcc28;}
.main .faixa-branca .centro .coluna-esquerda{width:500px;padding-bottom:120px;background:url('../_imgs/layout/ilustra-mais-dicas.png') 8px bottom no-repeat;}.main .faixa-branca .centro .coluna-esquerda .links-box{font-size:0;margin-bottom:40px;}.main .faixa-branca .centro .coluna-esquerda .links-box a{margin-right:6px;display:inline-block;*display:inline;zoom:1;vertical-align:top;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:bold;padding-top:22px;text-align:center;width:120px;height:58px;background:url('../_imgs/layout/boxes-cursos.png') center center no-repeat;text-decoration:none;color:#FFF;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .faixa-branca .centro .coluna-esquerda .links-box a:active,.main .faixa-branca .centro .coluna-esquerda .links-box a:visited{color:#FFF;}
.main .faixa-branca .centro .coluna-esquerda .links-box a:hover{color:#ffcc28;}
.main .faixa-branca .centro .coluna-esquerda .links-box a.ultimo{margin-right:0;}
.main .faixa-branca .centro .coluna-esquerda h1{margin-bottom:10px;line-height:100%;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:20px;font-weight:bold;color:#0072ae;}
.main .faixa-branca .centro .coluna-esquerda #chamada-pedagogia{width:500px;height:140px;display:block;margin-bottom:8px;text-indent:-9999px;background:url('../_imgs/layout/bhome-curso-ped-off.jpg') center center no-repeat;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .faixa-branca .centro .coluna-esquerda #chamada-pedagogia:hover{background:url('../_imgs/layout/bhome-curso-ped-on.jpg') center center no-repeat;}
.main .faixa-branca .centro .coluna-esquerda #chamada-enfermagem{width:500px;height:140px;display:block;margin-bottom:8px;text-indent:-9999px;background:url('../_imgs/layout/bhome-curso-enf-off.jpg') center center no-repeat;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .faixa-branca .centro .coluna-esquerda #chamada-enfermagem:hover{background:url('../_imgs/layout/bhome-curso-enf-on.jpg') center center no-repeat;}
.main .faixa-branca .centro .coluna-direita{width:434px;float:right;}.main .faixa-branca .centro .coluna-direita #mural{padding:80px 36px 64px 40px;height:353px;margin-bottom:35px;background:url('../_imgs/layout/bg-caderno.png') center top no-repeat;}.main .faixa-branca .centro .coluna-direita #mural h1{text-indent:-9999px;display:block;height:24px;line-height:24px;margin-bottom:10px;background:url('../_imgs/layout/bhome-mural-titulo.png') 65px center no-repeat;}
.main .faixa-branca .centro .coluna-direita #mural a{background:url('../_imgs/layout/bhome-mural-seta.png') right bottom no-repeat;padding:4px 0 10px 0;overflow:hidden;display:block;text-decoration:none;font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif !important;font-size:19px !important;font-weight:normal !important;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .faixa-branca .centro .coluna-direita #mural a .texto{line-height:100%;border-bottom:1px #1E3B65 dotted;width:305px;color:#1E3B65;padding:0 0 6px 0;}
.main .faixa-branca .centro .coluna-direita #mural a:active .texto,.main .faixa-branca .centro .coluna-direita #mural a:visited .texto{color:#1E3B65;}
.main .faixa-branca .centro .coluna-direita #mural a:hover .texto{color:#0072ae;}
.main .faixa-branca .centro .coluna-direita #depoimentos{padding:25px 0 35px 30px;background-color:#0072ae;}.main .faixa-branca .centro .coluna-direita #depoimentos h1{font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;color:#fff;margin-bottom:13px;display:block;border-bottom:1px #fff dotted;}
.main .faixa-branca .centro .coluna-direita #depoimentos .depoimento{color:#fff;padding:25px 0 5px 0;border-bottom:1px #fff dotted;}.main .faixa-branca .centro .coluna-direita #depoimentos .depoimento .texto{width:240px;margin-bottom:40px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:bold;}
.main .faixa-branca .centro .coluna-direita #depoimentos .depoimento .autor{width:110px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:normal;font-style:italic;line-height:115%;}
.faixa-azul-clara{padding:30px 0;background-color:#3aaed6;}.faixa-azul-clara .centro .faixa-esquerda{width:500px;}.faixa-azul-clara .centro .faixa-esquerda h1{font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:bold;line-height:100%;color:#12284d;}.faixa-azul-clara .centro .faixa-esquerda h1 img{vertical-align:-7px;}
.faixa-azul-clara .centro .faixa-esquerda ul{padding:15px 0;}.faixa-azul-clara .centro .faixa-esquerda ul li{margin:10px 0;}.faixa-azul-clara .centro .faixa-esquerda ul li a{display:block;font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;padding:3px 0 3px 30px;background:url('../_imgs/layout/bhome-mais-seta.png') left 3px no-repeat;color:#12284d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.faixa-azul-clara .centro .faixa-esquerda ul li a:active,.faixa-azul-clara .centro .faixa-esquerda ul li a:visited{color:#12284d;}
.faixa-azul-clara .centro .faixa-esquerda ul li a.ativo,.faixa-azul-clara .centro .faixa-esquerda ul li a:hover{color:#fff;}
.faixa-azul-escura{background:url('../_imgs/layout/bhome-degrade-marinho.jpg') left top repeat-x;height:170px;}.faixa-azul-escura .centro .coluna-esquerda{width:500px;}.faixa-azul-escura .centro .coluna-esquerda h1{font-family:'Trebuchet MS','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;color:#fff;padding:15px 0 5px 0;display:block;}
.faixa-azul-escura .centro .coluna-esquerda ul{width:500px;}.faixa-azul-escura .centro .coluna-esquerda ul li{width:500px;height:20px;line-height:20px;margin-bottom:5px;}.faixa-azul-escura .centro .coluna-esquerda ul li a{position:relative;z-index:9;height:20px;line-height:20px;width:483px;display:block;color:#fff;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:16px;font-weight:bold;padding-left:17px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.faixa-azul-escura .centro .coluna-esquerda ul li a:active,.faixa-azul-escura .centro .coluna-esquerda ul li a:visited{color:#fff;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.vermelho{background-color:#EC1C27;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.laranja{background-color:#F79320;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.amarelo{background-color:#FFCC28;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.verde-claro{background-color:#8BC543;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.verde-medio{background-color:#268D3C;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.verde-escuro{background-color:#057373;}
.faixa-azul-escura .centro .coluna-esquerda ul li a.azul{background-color:#00ADEE;}
.faixa-azul-escura .centro .coluna-esquerda ul li a:hover{color:#222745;}
.faixa-branca-final{padding-top:100px;padding-bottom:30px;}.faixa-branca-final .centro{font-size:0;}.faixa-branca-final .centro .chamada{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:225px;width:210px;-webkit-border-radius:280px;-moz-border-radius:280px;-o-border-radius:280px;border-radius:280px;behavior:url('PIE.htc');color:#fff;font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:30px;font-weight:normal;text-align:center;line-height:110%;padding:55px 35px 0 35px;background-image:url('../_imgs/layout/bhome-mais-seta.png');background-position:center 240px;background-repeat:no-repeat;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.faixa-branca-final .centro .chamada.laranja{background-color:#F60;margin-right:40px;}
.faixa-branca-final .centro .chamada.azul{background-color:#222745;}
.faixa-branca-final .centro .chamada:active,.faixa-branca-final .centro .chamada:visited{color:#fff;}
.faixa-branca-final .centro .chamada:hover{color:#ffcc28;}
.faixa-branca-final .centro #facebook{margin-left:40px;width:340px;height:280px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}
