@import 'vars.less';

#ghost-load{
	.sp1{background:url('../_imgs/layout/bhome-curso-enf-on.jpg') -1000px -1000px no-repeat; }
	.sp2{background:url('../_imgs/layout/bhome-curso-ped-on.jpg') -1000px -1000px no-repeat; }
}

.main{
	#slideshow{
		height:420px;
		//background:url('../_imgs/layout/frase-home.jpg') right 272px no-repeat;
		#animate{
			width:765px;
			height:400px;
			overflow:hidden;
		}
		#bullets{
			height:20px;
			line-height:20px;
			text-align:right;
			font-size:0;
			width:765px;
			a{
				width:12px;
				height:12px;
				.inline;
				border-radius:12px;
				background-color:#A9ABAE;
				text-decoration:none;
				margin:0 2px;
				.transition;
				&:hover, &.activeSlide{
					background-color:@amarelo;
				}
			}
		}
	}
	.faixa-branca{
		.centro{
			.coluna-esquerda{
				width:500px;
				padding-bottom:120px;
				background:url('../_imgs/layout/ilustra-mais-dicas.png') 8px bottom no-repeat;
				.links-box{
					font-size:0;
					margin-bottom:40px;
					a{
						margin-right:6px;
						.inline;
						.calibri(14px, bold);
						padding-top:22px;
						text-align:center;
						width:120px;
						height:58px;
						background:url('../_imgs/layout/boxes-cursos.png') center center no-repeat;
						text-decoration:none;
						color:#FFF;
						.transition;
						&:active, &:visited{ color:#FFF; }
						&:hover{
							color:@amarelo;
						}
						&.ultimo{
							margin-right:0;
						}
					}
				}
				h1{
					margin-bottom:10px;
					line-height:100%;
					.trebuchet(20px, bold);
					color:@azul_escuro;
				}
				#chamada-pedagogia{
					width:500px;
					height:140px;
					display: block;
					margin-bottom:8px;
					text-indent:-9999px;
					background:url('../_imgs/layout/bhome-curso-ped-off.jpg') center center no-repeat;
					.transition;
					&:hover{
						background:url('../_imgs/layout/bhome-curso-ped-on.jpg') center center no-repeat;						
					}
				}
				#chamada-enfermagem{
					width:500px;
					height:140px;
					display: block;
					margin-bottom:8px;
					text-indent:-9999px;
					background:url('../_imgs/layout/bhome-curso-enf-off.jpg') center center no-repeat;					
					.transition;
					&:hover{
						background:url('../_imgs/layout/bhome-curso-enf-on.jpg') center center no-repeat;
					}
				}
			}
			.coluna-direita{
				width:434px;
				float:right;
				#mural{
					padding:80px 36px 64px 40px;
					height:353px;
					margin-bottom:35px;
					background:url('../_imgs/layout/bg-caderno.png') center top no-repeat;
					h1{
						text-indent:-9999px;
						display:block;
						height:24px;
						line-height:24px;
						margin-bottom:10px;
						background:url('../_imgs/layout/bhome-mural-titulo.png') 65px center no-repeat;
					}
					a{
						.texto{
							line-height:100%;
							border-bottom:1px #1E3B65 dotted;
							width:305px;
							color:#1E3B65;
							padding:0 0 6px 0;
						}
						background:url('../_imgs/layout/bhome-mural-seta.png') right bottom no-repeat;
						padding:4px 0 10px 0;
						overflow:hidden;
						display: block;
						//max-height:106px;
						text-decoration:none;
						.caflisch(19px) !important;
						.transition;
						&:active .texto, &:visited .texto{ color:#1E3B65; }
						&:hover .texto{
							color:@azul_escuro;
						}
					}
				}
				#depoimentos{
					padding:25px 0 35px 30px;
					background-color:@azul_escuro;
					h1{
						.trebuchet(30px);
						color:#fff;
						margin-bottom:13px;
						display: block;
						border-bottom:1px #fff dotted;
					}
					.depoimento{
						.texto{
							width:240px;
							margin-bottom:40px;
							.calibri(14px, bold);
						}
						.autor{
							width:110px;
							.calibri(12px);
							font-style:italic;
							line-height:115%;
						}
						color:#fff;
						padding:25px 0 5px 0;
						border-bottom:1px #fff dotted;
					}
				}
			}
		}
	}
}
.faixa-azul-clara{
	padding:30px 0;
	background-color:@azul_medio;
	.centro{
		.faixa-esquerda{
			width:500px;
			h1{
				.trebuchet(30px, bold);
				line-height:100%;
				color:@azul_maisescuro;
				img{
					vertical-align:-7px;
				}
			}
			ul{
				padding:15px 0;
				li{
					margin:10px 0;
					a{
						display: block;
						.trebuchet(14px);
						padding:3px 0 3px 30px;
						background:url('../_imgs/layout/bhome-mais-seta.png') left 3px no-repeat;
						color:@azul_maisescuro;
						.transition;
						&:active, &:visited{ color:@azul_maisescuro; }
						&.ativo, &:hover{
							color:#fff;
						}
					}
				}
			}
		}
	}
}
.faixa-azul-escura{
	background:url('../_imgs/layout/bhome-degrade-marinho.jpg') left top repeat-x;
	height:170px;
	.centro{
		.coluna-esquerda{
			width:500px;
			h1{
				.trebuchet(30px);
				color:#fff;
				padding:15px 0 5px 0;
				display: block;
			}
			ul{
				width:500px;
				li{
					width:500px;
					height:20px;
					line-height:20px;
					margin-bottom:5px;
					a{
						position:relative;
						z-index:9;
						height:20px;
						line-height:20px;
						width:483px;
						display: block;
						color:#fff;
						.calibri(16px, bold);
						padding-left:17px;
						&:active, &:visited{ color:#fff; }
						.transition;
						&.vermelho{ background-color:#EC1C27; }
						&.laranja{ background-color:#F79320; }
						&.amarelo{ background-color:#FFCC28; }
						&.verde-claro{ background-color:#8BC543; }
						&.verde-medio{ background-color:#268D3C; }
						&.verde-escuro{ background-color:#057373; }
						&.azul{ background-color:#00ADEE; }
						&:hover{ color:@marinho; }
					}
				}
			}
		}
	}
}
.faixa-branca-final{
	padding-top:100px;
	padding-bottom:30px;
	.centro{
		font-size:0;
		.chamada{
			.inline;
			height:225px;
			width:210px;
			.arredondada(280px);
			color:#fff;
			.caflisch(30px);
			text-align:center;
			line-height:110%;
			padding:55px 35px 0 35px;
			background-image:url('../_imgs/layout/bhome-mais-seta.png');
			background-position:center 240px;
			background-repeat:no-repeat;
			&.laranja{ background-color:#F60; margin-right:40px; }
			&.azul{ background-color:#222745; }
			&:active, &:visited{color:#fff;}
			.transition;
			&:hover{
				color:@amarelo;
			}
		}
		#facebook{
			margin-left:40px;
			width:340px;
			height:280px;
			.inline;
		}
	}	
}
