@import 'vars.less';

.main{
	section{
		iframe{
			float:right;
			border:5px #0072AE solid;
		}
		p{
			.calibri(14px);
			color:@marinho;
			margin-bottom:20px;
			width:190px;
			line-height:130%;
			&.endereco{ font-weight:bold; }
			.telefone{
				font-size:26px;
				font-weight:bold;
				line-height:110%;
			}
		}
	}
}