@import 'vars.less';

.main-noticias-index{
	padding-bottom:50px;
	.link-noticias{
		display: block;
		border-top:2px @laranja solid;
		background-color:#D6E2E8;
		margin-bottom:12px;
		height:100px;
		position:relative;
		img{
			float:left;
		}
		h2{
			.transition;
			display: block;
			padding:20px;
			.calibri(18px, bold);
			color:#0072AE;
			height:60px;
			overflow:hidden;
			line-height:120%;
		}
		.data{
			background-color:@azul_escuro;
			width:130px;
			height:16px;
			line-height:16px;
			text-align:center;
			color:#FFF;
			.calibri(12px, bold);
			position:absolute;
			right:0;
			top:-6px;
		}
		&:hover{
			h2{
				color:#fff;
				background-color:@azul_escuro;
			}
		}
	}
}

.main-noticias-detalhes{
	padding-bottom:50px;
	.link-voltar{
		width:584px;
		display: block;
		border-bottom:2px @laranja solid;
		float:right;
		text-align:right;
		margin-top:14px;
		color:@laranja;
		.calibri(12px, bold);
		.transition;
		a:active, a:visited{color:@laranja;}
		&:hover{
			color:@marinho;
		}
	}
	.link-voltar-inferior{
		height:16px;
		line-height:16px;
		margin:20px 0;
		padding-left:7px;
		display: block;
		background-color:@laranja;
		color:#fff;
		.calibri(12px, bold);
		.transition;
		&:hover{
			color:@marinho;
		}
	}
	.detalhe{
		h2{
			background-color:#D6E2E8;
			padding:20px;
			color:@azul_escuro;
			.calibri(24px, bold);
			line-height:130%;
			position:relative;
			.data{
				background-color:@azul_escuro;
				width:130px;
				height:16px;
				line-height:16px;
				text-align:center;
				color:#FFF;
				.calibri(12px, bold);
				position:absolute;
				left:0;
				top:-6px;				
			}
		}
		.imagem{
			.imagem-principal{
				max-width:715px;
				margin:0 auto;
				display: block;
			}
			background-color:@azul_escuro;
		}
		.olho{
			background-color:@azul_escuro;
			color:#fff;
			.caflisch(22px);
			padding:15px 50px;
			margin-bottom:40px;
		}
		.espacamento{ height:40px; }
		p{
			color:@marinho;
			.calibri(14px);
			line-height:24px;
			margin:12px 0;
		}
		ul{
			margin:12px 0;
			color:@marinho;
			.calibri(14px);
			line-height:24px;
			list-style:inside;	
		}
	}
}