.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.nomargin{margin:0 !important;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#ghost-load{height:1px;width:1px;position:absolute;left:-2000px;top:-2000px;}
h1.titulo-internas{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#ff6600;}
.main-noticias-index{padding-bottom:50px;}.main-noticias-index .link-noticias{display:block;border-top:2px #ff6600 solid;background-color:#D6E2E8;margin-bottom:12px;height:100px;position:relative;}.main-noticias-index .link-noticias img{float:left;}
.main-noticias-index .link-noticias h2{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;display:block;padding:20px;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:18px;font-weight:bold;color:#0072AE;height:60px;overflow:hidden;line-height:120%;}
.main-noticias-index .link-noticias .data{background-color:#0072ae;width:130px;height:16px;line-height:16px;text-align:center;color:#FFF;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:bold;position:absolute;right:0;top:-6px;}
.main-noticias-index .link-noticias:hover h2{color:#fff;background-color:#0072ae;}
.main-noticias-detalhes{padding-bottom:50px;}.main-noticias-detalhes .link-voltar{width:584px;display:block;border-bottom:2px #ff6600 solid;float:right;text-align:right;margin-top:14px;color:#ff6600;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-noticias-detalhes .link-voltar a:active,.main-noticias-detalhes .link-voltar a:visited{color:#ff6600;}
.main-noticias-detalhes .link-voltar:hover{color:#222745;}
.main-noticias-detalhes .link-voltar-inferior{height:16px;line-height:16px;margin:20px 0;padding-left:7px;display:block;background-color:#ff6600;color:#fff;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-noticias-detalhes .link-voltar-inferior:hover{color:#222745;}
.main-noticias-detalhes .detalhe h2{background-color:#D6E2E8;padding:20px;color:#0072ae;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:24px;font-weight:bold;line-height:130%;position:relative;}.main-noticias-detalhes .detalhe h2 .data{background-color:#0072ae;width:130px;height:16px;line-height:16px;text-align:center;color:#FFF;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:12px;font-weight:bold;position:absolute;left:0;top:-6px;}
.main-noticias-detalhes .detalhe .imagem{background-color:#0072ae;}.main-noticias-detalhes .detalhe .imagem .imagem-principal{max-width:715px;margin:0 auto;display:block;}
.main-noticias-detalhes .detalhe .olho{background-color:#0072ae;color:#fff;font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:22px;font-weight:normal;padding:15px 50px;margin-bottom:40px;}
.main-noticias-detalhes .detalhe .espacamento{height:40px;}
.main-noticias-detalhes .detalhe p{color:#222745;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;line-height:24px;margin:12px 0;}
.main-noticias-detalhes .detalhe ul{margin:12px 0;color:#222745;font-family:'Calibri','Arial','Verdana','Tahoma',sans-serif;font-size:14px;font-weight:normal;line-height:24px;list-style:inside;}
