@import 'vars.less';

.main{
	section{
		#form{
			float:right;
			padding:17px;
			background-color:@azul_escuro;
			width:460px;
			h2{
				.trebuchet(14px);
				color:#FFF;
				line-height:100%;
				margin-bottom:16px;
			}
			.mensagem{
				margin:30px 0;
				text-align:center;
				.trebuchet(18px);
				color:#fff;
			}
			input[type="text"],
			input[type="email"]{
				padding:2px 8px;
				height:26px;
				line-height:26px;
				color:@marinho;
				margin:0;
				width:444px;
				border:0;
				margin-bottom:5px;
				.calibri(14px);
			}
			textarea{
				padding:2px 8px;
				line-height:26px;
				height:185px;
				color:@marinho;
				margin:0;
				width:444px;
				border:0;
				margin-bottom:5px;
				.calibri(14px);
				resize:none;
			}
			input[type="submit"]{
				text-align:center;
				width:460px;
				height:30px;
				line-height:30px;
				border:0;
				margin:0;
				padding:0;
				color:@marinho;
				background-color:#3AAED7;
				.trebuchet(14px, bold);
				.transition;
				&:hover{
					cursor:pointer;
					color:@amarelo;
					background-color:@marinho;
				}
			}
		}
		p{
			.calibri(12px) !important;
			color:@marinho;
			margin-bottom:20px;
			width:190px;
			line-height:110%;
			&.endereco{ font-weight:bold; }
			.telefone{
				font-size:26px;
				font-weight:bold;
				line-height:110%;
			}
		}
		h2{
			color:@azul_medio;
			.trebuchet(16px);
			line-height:130%;
			margin-bottom:15px;
		}
	}	
}