.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.nomargin {
  margin: 0 !important;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#ghost-load {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -2000px;
  top: -2000px;
}
h1.titulo-internas {
  font-family: 'Caflisch', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color: #ff6600;
}
.main #banner-topo {
  display: block;
  margin-bottom: 35px;
}
.main .processo {
  border-bottom: 2px #222745 solid;
  padding-bottom: 20px;
}
.main .processo .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 200px;
}
.main .processo .coluna.prim {
  width: 515px;
}
.main .processo .coluna h2 {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #222745;
  line-height: 130%;
}
.main .processo .coluna ul {
  margin-top: 23px;
}
.main .processo .coluna ul li {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #222745;
  margin-bottom: 30px;
}
.main .processo .coluna ul li.um:before {
  content: '1';
  width: 30px;
  height: 30px;
  background-color: #0072ae;
  color: #ffcc28;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  behavior: url('PIE.htc');
  text-align: center;
  float: left;
  margin-right: 10px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main .processo .coluna ul li.dois:before {
  content: '2';
  width: 30px;
  height: 30px;
  background-color: #0072ae;
  color: #ffcc28;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  behavior: url('PIE.htc');
  text-align: center;
  float: left;
  margin-right: 10px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main .processo .coluna ul li.dois strong {
  display: block;
  margin: 3px 0 6px 0;
}
.main .processo .coluna ul li.dois .menor {
  display: block;
  font-size: 11px;
  line-height: 110%;
}
.main .processo .coluna ul li.tres:before {
  content: '3';
  width: 30px;
  height: 30px;
  background-color: #0072ae;
  color: #ffcc28;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  behavior: url('PIE.htc');
  text-align: center;
  float: left;
  margin-right: 10px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main .processo .coluna ul li.quatro:before {
  content: '4';
  width: 30px;
  height: 30px;
  background-color: #0072ae;
  color: #ffcc28;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  behavior: url('PIE.htc');
  text-align: center;
  float: left;
  margin-right: 10px;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.main .processo .coluna ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #0072ae;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .processo .coluna ul li a:active,
.main .processo .coluna ul li a:visited {
  color: #0072ae;
}
.main .processo .coluna ul li a:hover {
  color: #ff6600;
}
.main .processo .coluna .orange-box {
  background-color: #ff6600;
  padding: 15px 15px 30px 15px;
  color: #fff;
  margin-left: 15px;
  line-height: 130%;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .processo .coluna .orange-box a {
  display: block;
  padding-left: 45px;
  line-height: 120%;
  background: url('../_imgs/layout/pdf-download.png') left center no-repeat;
  margin-top: 20px;
  text-decoration: none;
  color: #222745;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main .processo .coluna .orange-box a:active,
.main .processo .coluna .orange-box a:visited {
  color: #222745;
}
.main .processo .coluna .orange-box a:hover {
  color: #fff;
}
.main .list {
  padding: 20px 0;
}
.main .list h2 {
  font-family: 'Trebuchet MS', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #222745;
  line-height: 130%;
  margin-bottom: 15px;
  display: block;
}
.main .list ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  min-width: 295px;
}
.main .list ul li {
  color: #222745;
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.main .list #abs-links {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  width: 420px;
  height: 190px;
}
.main .list #abs-links .venha {
  display: block;
  position: absolute;
}
.main .list #abs-links .venha#venha1 {
  top: 5px;
  left: 0;
}
.main .list #abs-links .venha#venha2 {
  top: 78px;
  left: 185px;
}
.main .list #abs-links .venha#venha3 {
  top: 2px;
  left: 281px;
}
