@import 'vars.less';

.main{
	#banner-topo{
		display: block;
		margin-bottom:35px;
	}
	.processo{
		border-bottom:2px @marinho solid;
		padding-bottom:20px;
		.coluna{
			.inline;
			&.prim{width:515px;}
			width:200px;
			h2{
				.trebuchet(18px);
				color:@marinho;
				line-height:130%;
			}
			ul{
				margin-top:23px;
				li{
					.calibri(14px);
					color:@marinho;
					margin-bottom:30px;
					&.um{
						&:before{
							content:'1';
							width:30px;
							height:30px;
							background-color:@azul_escuro;
							color:@amarelo;
							.arredondada(150px);
							text-align: center;
							float:left;
							margin-right:10px;
							.calibri(20px);
						}
					}
					&.dois{
						&:before{
							content:'2';
							width:30px;
							height:30px;
							background-color:@azul_escuro;
							color:@amarelo;
							.arredondada(150px);
							text-align: center;
							float:left;
							margin-right:10px;
							.calibri(20px);
						}
						strong{
							display: block;
							margin:3px 0 6px 0;
						}
						.menor{
							display: block;
							font-size:11px;
							line-height:110%;
						}
					}
					&.tres{
						&:before{
							content:'3';
							width:30px;
							height:30px;
							background-color:@azul_escuro;
							color:@amarelo;
							.arredondada(150px);
							text-align: center;
							float:left;
							margin-right:10px;
							.calibri(20px);
						}
					}
					&.quatro{
						&:before{
							content:'4';
							width:30px;
							height:30px;
							background-color:@azul_escuro;
							color:@amarelo;
							.arredondada(150px);
							text-align: center;
							float:left;
							margin-right:10px;
							.calibri(20px);
						}
					}
					a{
						font-weight:bold;
						text-decoration:none;
						color:@azul_escuro;
						.transition;
						&:active, &:visited{ color:@azul_escuro; }
						&:hover{
							color:@laranja;
						}
					}
				}
			}
			.orange-box{
				background-color:@laranja;
				padding:15px 15px 30px 15px;
				color:#fff;
				margin-left: 15px;
				line-height:130%;
				.calibri(14px);
				a{
					display: block;
					padding-left:45px;
					line-height:120%;
					background:url('../_imgs/layout/pdf-download.png') left center no-repeat;
					margin-top:20px;
					text-decoration:none;
					color:@marinho;
					.transition;
					&:active, &:visited{ color:@marinho; }
					&:hover{
						color:#fff;
					}
				}
			}
		}
	}
	.list{
		padding:20px 0;
		h2{
			.trebuchet(18px);
			color:@marinho;
			line-height:130%;
			margin-bottom:15px;
			display: block;
		}
		ul{
			.inline;
			min-width:295px;
			li{
				color:@marinho;
				.calibri(14px);
			}
		}
		#abs-links{
			.inline;
			position:relative;
			width:420px;
			height:190px;
			.venha{
				display:block;
				position:absolute;
				&#venha1{
					top:5px;
					left:0;
				}
				&#venha2{
					top:78px;
					left:185px;
				}
				&#venha3{
					top:2px;
					left:281px;
				}
			}
		}
	}
}