.centro{width:980px;padding:0 0;margin:0 auto;}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.nomargin{margin:0 !important;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
#ghost-load{height:1px;width:1px;position:absolute;left:-2000px;top:-2000px;}
h1.titulo-internas{font-family:'Caflisch','Arial','Verdana','Tahoma',sans-serif;font-size:50px;font-weight:normal;color:#ff6600;}
