@font-face {
    font-family: 'Caflisch';
    src: url('caflischscriptwebpro-webfont.eot');
    src: url('caflischscriptwebpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('caflischscriptwebpro-webfont.woff') format('woff'),
         url('caflischscriptwebpro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}